obj/DIO.series.csproj.nuget.dgspec.json
obj/DIO.series.csproj.nuget.g.props
obj/DIO.series.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/DIO.series.AssemblyInfo.cs
obj/Debug/net6.0/DIO.series.AssemblyInfoInputs.cache
obj/Debug/net6.0/DIO.series.assets.cache
obj/Debug/net6.0/DIO.series.csproj.AssemblyReference.cache
obj/Debug/net6.0/DIO.series.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/DIO.series.csproj.FileListAbsolute.txt
obj/Debug/net6.0/DIO.series.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/DIO.series.GlobalUsings.g.cs
